.main {
  min-height: 70vh;
}

.login-comp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-comp form {
  width: 500px;
  background-color: rgb(202, 232, 241);
  padding: 2rem;
  border-radius: 10px;
}

.main-form {
  background-color: rgb(202, 232, 241);
  padding: 1rem;
}

.main-table {
  /* background-color: rgb(202, 232, 241); */
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 25px;
}

.list-group .list-group-item {
  display: flex;
  justify-content: space-between;
}
